html,
body,
figure,
div,
input,
textarea,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
button {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    list-style: none;
    background-color: #FFFFFF;
}

body {
  
    font-size: 16px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 52px;

}


figcaption {
    display: none;
}

.menu {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.25);
}

.menu-column {
    min-height: 70px;
    display: flex;
    margin: 0 auto;
    max-width: 1370px;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.logo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
}

.menu-nav ul {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

.logo {
    text-align: center;
    font-size: 30px;
    color: #292929;
    font-weight: 700;
    line-height: 24px;
}

.link.all {
    font-weight: 600;
}

.link {
    text-decoration: none;
    color: #242424;
    font-weight: 400;
    font-size: 16px;
}

.link:hover {
    color: #535353;
    cursor: pointer;
}

.link:active {
    color: #242424;
}

.content-container {
    min-width: 750px;
    max-width: 1380px;
    margin: 0 auto;
}

.content {
    min-width: 700px;
    max-width: 1380px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.content-first-column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 22px;
    column-gap: 30px;
    min-width: 300px;
    height: 100%;
}

.product-card {
    border: 3px solid #F5F5F5;
    background-color: #F5F5F5;
}

.product-card:hover {
    border: 3px solid #2E245E;
}

.fig-box {
    max-width: 290px;
    max-height: 154px;
    background-color: #F5F5F5;
}

.figure {
    max-width: 290px;
    min-height: 154px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.product-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 15px;
    gap: 15px;
    max-width: 290px;
    min-height: 254px;
    background-color: #FFFFFF;
}

.product-category {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: normal;
    height: 24px;
    width: 70px;
    padding: 12px 5px;
    gap: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #2E245E;
}

.product-name {
    width: 269px;
    height: 24px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #292929;

}

.product-resume {
    width: 269px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #242424;
}


.product-price {
    width: 269px;
    height: 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #2E245E;
}

.add-to-cart {
    font-style: normal;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #242424;
}

.add-to-cart:hover {
    text-decoration: underline;
    color: #2E245E;
}

.content-second-column {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.search-imput {
    padding: 14px 17px;
    width: 246px;
    height: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #242424;
    background-color: #F5F5F5;
    border: 3px solid #F5F5F5;
}

.search-imput:hover {
    border: 3px solid #242424;
}

.search-button {
    width: 96px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: #37268C;
    cursor: pointer;
}

.search-button:hover {
    background-color: #4e3ea1;
}

.search-button:active {
    background-color: #37268C;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cart-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    width: 347px;
    height: 50px;
    background-color: #37268C;
}

.cart-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 347px;
    min-height: 214px;
    gap: 10px;
    background-color: #F5F5F5;
}

.empty-cart {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    color: #292929;
    background-color: #F5F5F5;
}

.add-items {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    background-color: #F5F5F5;
}